<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/JS/login.js" defer></script>
    <title>linktree</title>
</head>
<body>

<main class="all-windoll color-white d-align_Jcontent-center">
    <section class="login-container user_main-linkCreationEdit">
        <h3>Faça seu login</h3>
        <input class="inputCreatLink login-input" id="login-email" type="text" placeholder="Email">
        <input class="inputCreatLink login-input" id="login-password" type="text" placeholder="Senha">
        <button class="uploadImgCreate-button login-button">
            login
        </button>

        <a href="http://localhost:3001/createUser">Criar conta</a>

    </section>
</main>
    
</body>
</html>